.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body {
    width: 100vw;
    height: 100vh;
    background: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

  }

  .container {
    text-align: center;
  }



  .pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 50px auto;
    flex-wrap: wrap;
  }


  .package {
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: #fff;
  }

  .package:hover {
    transform: scale(1.1);
  }

  .price2 {
    height: 350px;
    background: linear-gradient(125deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
  }

  .price2:hover {
    transform: scale(1.1)
  }

  h1.container {
    justify-self: center;

  }

  h1 {
    justify-self: center;
  }

  hr {
    color: black;
    min-width: 100%;
  }

  .learnMore {
    background-color: aliceblue;
    cursor: pointer;
    height: 40px;
    background: linear-gradient(125deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
  }

  .learn_more2 {
    background: #fff;
    color: hsl(237, 63%, 64%);
  }

  .switch-tab {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background: linear-gradient(125deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }